<div class="bg-red-100 w-full h-lvh">
  <%= image_tag "favicon.png", alt: "Logo", class: "object-contain" %>
  <%= link_to "English", url_for(locale: :en) %> |
  <%= link_to "Français", url_for(locale: :fr) %> |
  <%= link_to "Malagasy", url_for(locale: :mg) %> |
  <%= link_to "Chinesse", url_for(locale: :"zh-CN") %>

  <h2 class="text-red-800"><%= t('hello') %></h2>

  <%= form_for(resource, as: resource_name, html: { class: "max-w-md mx-auto" }, url: session_path(resource_name)) do |f| %>
    <div class="relative z-0 w-full mb-5 group">
      <%= f.text_field :login, placeholder: " ",
        class: "block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2
        border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer",
        autocomplete: "username", autofocus: true, required: true %>
      <%= f.label :login, t('labels.username'),
        class: "absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0]
        peer-focus:start-0 peer-focus:text-fg-brand peer-placeholder-shown:scale-100
        peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6
        rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto" %>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <%= f.password_field :password, placeholder: " ",
        class: "block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2
        border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer",
        autocomplete: "current-password", required: true %>
      <%= f.label :password, t('labels.password'),
        class: "absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0]
        peer-focus:start-0 peer-focus:text-fg-brand peer-placeholder-shown:scale-100
        peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto" %>
    </div>

    <% if devise_mapping.rememberable? %>
    <div class="flex items-center mb-5">
        <%= f.check_box :remember_me, class: "w-4 h-4 border border-default-medium rounded-xs
          bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft", value: "" %>
        <%= f.label :remember_me, t('labels.remember'), class: "ms-2 text-sm font-medium text-heading mb-2" %>
    </div>
    <% end %>

    <div class="actions">
      <%= f.submit t('labels.login') %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>





